.cart_content {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #343a40;
  height: 100vh;
  text-align: left;
  transition: width 1s;
  z-index: 9;
  .cart_content__products {
    height: calc(100vh - 195px);
    overflow-y: scroll;

    scrollbar-color: #09c;
    scrollbar-width: 5px;
  }
}
.car {
  svg {
    width: 30px;
    height: 30px;
    fill: #fff;
  }
}
