.cart_content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #4f5256;
  height: 76px;

  > div {
    &:first-of-type {
      display: flex;
      img {
        &:hover {
          cursor: pointer;
        }
      }
      h2 {
        color: #fff;
        margin: 0;
        font-size: 24px;
      }
    }
  }

  button {
    margin: 0;

    &:hover {
      text-decoration: none;
      color: #0098d3;
      background-color: transparent;
      svg {
        fill: #0098d3;
      }
    }
  }
}
