.cart_content__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #4f5256;
  padding: 15px;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    p {
      &:last-of-type {
        font: {
          weight: bold;
          size: 20px;
        }
        margin-right: 16px;
      }
    }
  }

  button {
    width: 100%;
    border: 0;
    font-size: 20px;
  }
}
